<!--Name: Mackenzie Lubben-Ortiz
    Assignment: navigation 
    Date: 11/19/2023
    -->

<nav class="navbar">
  <ul>
    <li><a href="/pets-r-us/views/training.ejs">Training</a></li>
    <li><a href="/pets-r-us/views/grooming.ejs">Grooming</a></li>
    <li><a href="/pets-r-us/views/boarding.ejs">Boarding</a></li>
    <li><a href="">Booking</a></li>
  </ul>
</nav>
