<!--Name: Mackenzie Lubben-Ortiz
    Assignment: Grooming Page Development
    Date: 11/11/2023
    -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Landing Page</title>
        <link rel="stylesheet" href="/public/styles/index.css">

        <style>
            body {
                background-image: url('/pets-r-us/public/images/camylla-battani-AoqgGAqrLpU-unsplash.jpg');
                background-repeat: no-repeat;
                background-attachment:fixed;
                background-size: cover;
                height: 600px;
                width: 100vw;
            }

            footer {
                text-align: center;
                padding: 3px;
                background-color: darksalmon;
                color: white;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;

            }
        </style>

        <!--Google fonts for Oswald-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <header class="header">
            <h1>Pets-R-Us</h1>
        </header>
    <nav class="navbar">
        <ul>
            <li><a href="/views/index.ejs">Home</a></li>
            <li><a href="/views/grooming.ejs">Grooming</a></li>
            <li><a href="">Customers</a></li>
            <li><a href="">Booking</a></li>
            <li><a href="">Services</a></li>

        </ul>

        </nav>

        <br>
        <br>
        <br>
        <br>
        <br>

        
        <h3>Grooming Services:</h3>
        


        


            <p style="border-width:3px; border-style:solid; border-color:darkslategrey; padding: 1em;">
                Here at Pets-R-Us we offer exceptional grooming services to meet the needs of your pet. From nail trimming, teeth brushing, hair cutting and more, we offer a wide variety of wonderful services for our customers. Appointments can be made over the phone or online via our appointment calendar here. A minimum deposit for the grooming appointment is required to complete the booking date and reserve your spot. Below are our offerings and prices. 
            </p>
            </p>
            </p>

         
            </p>
              </p>
            
              <br>

            <hr>

            <h3>Pricing</h3>
            <div class="list">
               <ul>
                <li>Nail Trim: $15</li>
                <li>Haircut: $50-150</li>
                <li>Teeth Brushing: $10</li>
                <li>All of the above: $250</li>
               </ul>
            </div>
            

        </ul>
    
    </nav>
        </div>
       </div>
        </div>
    </section>
<br>

    <footer>
        <p>110 Crabapple Dr. Chicago, IL</p>
        <p>Photo courtesy of Unsplash</p>
    </footer>
    </body>
</html>