<!--Name: Mackenzie Lubben-Ortiz
    Assignment: Landing Page Development
    Date: 11/11/2023
    -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Landing Page</title>
        <link rel="stylesheet" href="/public/styles/index.css">
        <h1>Pets-R-Us</h1>
      

        <style>
            body {
                background-image: url('/pets-r-us/public/images/camylla-battani-AoqgGAqrLpU-unsplash.jpg');
                background-repeat: no-repeat;
                background-attachment:fixed;
                background-size: cover;
                height: 600px;
                width: 100vw;
            }

            footer {
                text-align: center;
                padding: 3px;
                background-color: darksalmon;
                color: white;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;

            }
        </style>

        <!--Google fonts for Oswald-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header>
            <nav class="navbar">
                <ul>
                  <li><a href="/pets-r-us/views/training.ejs">Training</a></li>
                  <li><a href="/pets-r-us/views/grooming.ejs">Grooming</a></li>
                  <li><a href="/pets-r-us/views/boarding.ejs">Boarding</a></li>
                  <li><a href="">Booking</a></li>
               
                </ul>
              </nav>

        </header>

        <br>
        <br>
        <br>
        <br>
        <br>

        
        <h3>Company Info:</h3>
        


        


            <p style="border-width:3px; border-style:solid; border-color:darkslategrey; padding: 1em;">
                We love meeting the needs of families through exceptional animal care, distributing quality products and providing amazing customer service. We understand how important your fur babies are to you so we strive to make each customer feel supported, equipped and confident towards all decisions made regarding their pets. With that in mind, we have expanded our business to online booking for grooming appointments to further ease and accommodate our customer’s and their busy schedules. In addition, we offer our full pet inventory stock online including pet food, gear, accessories, and more. 
            </p>
            </p>
            </p>

            <p style="border-width:3px; border-style:solid; border-color:darkslategrey; padding: 1em;">
                All of these features have you as our customer in mind. Our passion is to equip guests with animals to provide the very best care for their pet. From the ease of online shopping, booking, scheduling, etc. our goal is to make our customer experience that much more simple. We understand that our customers have busy lives and endless needs for their pets. That’s where we come in. We’re here to support our customers each step of the way. Whether a pet has grooming, feeding or training needs, we provide the necessary services to our customers to turn that need into action. 
            </p>
            
            <p style="border-width:3px; border-style:solid; border-color:darkslategrey; padding: 1em;">
                We invite you to check out our website and see what all we have to offer. We are incredibly thankful for people like you that come alongside us so that we can help so many fur families thrive.  
            </p>
              </p>
            
              <br>

            <hr>

            <h3>Location Hours</h3>
            <div class="Hours">
                <p>Mon 8:00 AM - 6:00 PM</p>
                <p>Tues 8:00 AM - 7:00 PM</p>
                <p> Wed 7:00 AM - 7:00 PM</p>
                <p> Thurs 8:00 AM - 6:00 PM</p>
                <p> Fri 8:00 AM - 5:00 PM</p>
                <p> Mon 8:00 AM - 6:00 PM</p>
                <p>Sun CLOSED</p>
            </div>
            

        </ul>
    
    </nav>
        </div>
       </div>
        </div>
    </section>
<br>

    <footer>
        <p>110 Crabapple Dr. Chicago, IL</p>
        <p>Photo courtesy of Unsplash</p>
    </footer>
    </body>
</html>