<!--Name: Mackenzie Lubben-Ortiz
    Assignment: Training Page Development
    Date: 11/19/2023
    -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/public/styles/index.css" />
  

    <style>
      body {
        background-image: url("/pets-r-us/public/images/camylla-battani-AoqgGAqrLpU-unsplash.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 600px;
        width: 100vw;
      }

      footer {
        text-align: center;
        padding: 3px;
        background-color: darksalmon;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
      }
    </style>
  </head>

    <!--Google fonts for Oswald-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
</header>

<body>
    <!--partial views tag-->
    <%- include partials/navbar.ejs %>
    <h1>Training</h1>
    <header>
        <nav class="navbar">
            <ul>
              <li><a href="/pets-r-us/views/training.ejs">Training</a></li>
              <li><a href="/pets-r-us/views/grooming.ejs">Grooming</a></li>
              <li><a href="/pets-r-us/views/boarding.ejs">Boarding</a></li>
              <li><a href="">Booking</a></li>
           
            </ul>
          </nav>

    </header>

    <br>
        <br>
        <br>
        <br>
        <br>

        
        <h1>Training Information</h1>
        <p>We value quality training and care for our customer's pets and offer a variety of training services to do just that. Below is an outline of our products and services, their pricing and additional useful information to our customers. We value and appreciate your interest in our training program and seek to serve you in the best way possible!</p>

        <br/>
        <br/>
    
    

        <h2>Pricing</h2>
        
        <h3>Tier 1</h3>
        <p>
            <li>Puppy life skills: $55</li>
            <li>Puppy basics: $50</li>
            <li>Puppy focus and self control: $30</li>
         </p>

         <h3>Tier 2</h3>
        <p>
            <li>Adolescence 101: $70</li>
            <li>Adolescence Leash Walking: $55</li>
            <li>Adolescence Manners: $40</li>
         </p>

         <h3>Tier 3</h3>
        <p>
            <li>Adult 101: $85</li>
            <li>Adult Impulse Control: $35</li>
            <li>Adult Manners: $75</li>
         </p>
        
        </p>


        <h2>Meet Lexie</h2>
        <p>Lexie has been working with dogs for over seven years and absolutely loves being a trainer. She loves to help families train their dogs to become the very best they can be. From small puppies, to older dogs more set in their ways, Lexie has experience training them all. Learn more about our training services below.</p>
        <img src="../public/images/wade-austin-ellis-FtuJIuBbUhI-unsplash.jpg" alt="Trainer">

        

        <footer>
            <p>110 Crabapple Dr. Chicago, IL</p>
            <p>Photo courtesy of Unsplash</p>
        </footer>
        </body>
    </html>


</html>
